<div class="thumbnail" style="height: 200px">
    <img src='{{avatar}}' alt="{{name}}">
    <div class="caption">
        <a href="http://weibo.com/{{uid}}">{{name}}</a>
        <div>粉丝数:{{fansCount}}</div>
        <div>认证信息:{{verify}}</div>
    </div>
</div>
